@model FleetManagementService.Models.Fleet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fleet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Vessels:
        </dt>

            @foreach (var vessel in Model.Vessels)
            {
            <dd>@vessel.Name</dd>
            }
        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FleetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
