@model FleetManagementService.Models.Container

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Vessel.Name)*@
            Vessel:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vessel.Name)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContainerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
